body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat center center;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  box-shadow:  -1px 1px #bab830, -2px 2px #bab830, -3px 3px #bab830, -4px 4px #bab830, -5px 5px #bab830;
  background-color: #dddd22;
}

.dubious {
  box-shadow:  -1px 1px #a33335, -2px 2px #a33335, -3px 3px #a33335, -4px 4px #a33335, -5px 5px #a33335;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img {
  border: 1px solid #505050;
  box-sizing: border-box;
}